@import './reset.scss';
@import './variable.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 터치하이라이트 제거
}

input,
select,
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

a,
button {
  cursor: pointer;
}

pre {
  white-space: pre-line;
}

// custom radio
input[type='radio'] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  background: var(--white);
  border: 2px solid var(--line);
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type='radio']:checked {
  border: 5px solid var(--primary);
  border-radius: 100%;
}

input[type='radio']:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

// custom checkbox
input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  background: var(--white);
  border: 1px solid var(--line);
  border-radius: 2px;
  cursor: pointer;
}

input[type='checkbox']:before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type='checkbox']:checked {
  background-color: var(--primary);
  border-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

input[type='checkbox']:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

main {
  max-width: 880px;
  margin: 0 auto;
}

:root {
  --primary: #db0234;
  --secondary: #faefef;
  --line: #d1d5db;
  --dim: #d5d5d5;
  --red: #f85151;
  --blue: #0085ff;
  --white: #ffffff;
  --black: #000000;
  --deepGrey: #7c8986;
  --lightGrey: #eef1f1;
  --grey: #b3b1b1;
  --green: #00c092;

  // text
  --text-primary: #2c3e50;
  --text-333: #333333;
  --text-555: #555555;
  --text-777: #777777;
  --text-999: #999999;
  --text-gray: #b3b1b1;
  --text-green: #00b98d;
  --text-red: #f85151;
  --text-blue: #0085ff;
  --text-dim: #d5d5d5;
}
