@import './reset.scss';
@import './variable.scss';
@import './text.scss';

// @font-face {
//   font-family: 'SUIT';
//   font-weight: 100;
//   src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff')
//     format('woff');
//   font-display: block;
// }
// @font-face {
//   font-family: 'SUIT';
//   font-weight: 200;
//   src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.woff')
//     format('woff');
//   font-display: block;
// }
// @font-face {
//   font-family: 'SUIT';
//   font-weight: 300;
//   src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff')
//     format('woff');
//   font-display: block;
// }
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff')
    format('woff');
  font-display: block;
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff')
    format('woff');
  font-display: block;
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff')
    format('woff');
  font-display: block;
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.woff')
    format('woff');
  font-display: block;
}
@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.woff')
    format('woff');
  font-display: block;
}
// @font-face {
//   font-family: 'SUIT';
//   font-weight: 900;
//   src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.woff')
//     format('woff');
//   font-display: block;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: SUIT, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 터치하이라이트 제거
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input,
select,
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

// input[type='date'] {
//   text-align: left;
// }

input::-webkit-date-and-time-value {
  text-align: left;
}

a,
button {
  cursor: pointer;
}

pre {
  white-space: pre-line;
}

:root {
  // basic
  --white: #ffffff;
  --black: #000000;
  --purple: #bb0bf8;

  // gray
  --line: #f5f5f5;
  --line2: #c5c5c5;
  --inputLine: #e5e5e5;
  --dim: #eaeaea;
  --gray999: #999999;
  --gray888: #888888;
  --gray555: #555555;

  // blue
  --blue100: #f5fbfd;
  --blue200: #eef8ff;
  --blue300: #d3edff;
  --blue400: #3387e9;
  --blue500: #0069e3;
  --blue600: #0261d0;
  --blue-icon: #c3d3ff;
  --blue-txt: #0069e3;

  // red
  --red100: #fff6f6;
  --red400: #ffe2e2;
  --red500: #eb4c4c;
  --red600: #ff0000;
  --red-txt: #eb4c4c;

  // green
  --green100: #edf9f5;
  --green500: #00c092;

  // orange
  --orange100: #ffe7d6;
  --orange500: #ff7714;
}
