@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin stLayout() {
  padding: 24px 22px 10px;
  min-height: calc(100vh - 360px);
}

@mixin stFormBox() {
  padding: 20px 24px;
  background: var(--white);
  border-radius: 24px;

  h3 {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
  }
}

@mixin stTag() {
  margin-right: 5px;
  padding: 6px 8px;
  background: var(--primary);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  border-radius: 4px;
  white-space: nowrap;
}

@mixin stButton() {
  width: 100%;
  height: 55px;
  background: var(--black);
  color: var(--white);
  border-radius: 10px;

  &:disabled {
    background: var(--dim);
  }
}

@mixin stIcon() {
  padding: 3px;
  background: #e9f6ff;
  color: #2f86c5;
  font-size: 11px;
}

@mixin stLabel() {
  font-size: 16px;
  font-weight: 600;
}

@mixin stInput() {
  margin: 10px 0 20px;
  width: 100%;
  height: 40px;
  padding: 15px 10px 15px 15px;
  border: 1px solid var(--line);
  border-radius: 4px;

  &:focus {
    border: 2px solid var(--primary);
  }

  &::placeholder {
    color: #9ca3af;
    font-size: 14px;
    letter-spacing: -0.2px;
  }
}
