@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin stLayout() {
  padding: 0 30px;
}

@mixin stHeader() {
  position: fixed;
  padding: 10px 30px;
  width: 100%;
  max-width: 600px;
  height: 60px;
  background: var(--white);
  z-index: 200;
}

@mixin stPageTitle() {
  margin: 5px 0 25px;
  @include title800_26;
}

@mixin stFormBox() {
  padding: 22px;
  background: var(--blue500);
  color: var(--white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

@mixin stButton() {
  width: 100%;
  height: 40px;
  background: var(--blue200);
  border-radius: 10px;

  &:disabled {
    background: var(--dim);
  }

  &:active {
    background: var(--blue300);
  }
}

@mixin stLoginButton() {
  @include flex;
  width: 100%;
  height: 52px;
  background: var(--blue500);
  @include title700_17;
  color: var(--white);
  border-radius: 7px;

  &:disabled {
    background: var(--dim);
  }

  &:active {
    background: var(--blue600);
  }
}

@mixin stLabel() {
  @include title700_15;
}

@mixin stInput() {
  width: 100%;
  height: 46px;
  padding: 12px 14px;
  background: var(--white);
  @include body600_14;
  border: 1px solid var(--inputLine);
  border-radius: 7px;

  &:disabled {
    background: var(--line);
    border: 1px solid var(--inputLine);
    color: var(--gray999);
    @include body600_14;
  }

  &::placeholder {
    @include body400_14;
    color: var(--gray999);
  }
}

@mixin stTag() {
  margin-right: 7px;
  padding: 2px 7px;
  background: var(--blue300);
  @include body500_13;
  color: var(--blue-txt);
  border-radius: 5px;
}

@mixin stProfile() {
  @include flex;
  width: 100%;
  height: 100%;
  background: var(--blue500);
  color: var(--white);
  border-radius: 50%;
}

@mixin stFooter() {
  padding: 24px 30px;
}
